/*Universal Styling*/
    header{
        background-color: #212529;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    body{
        background-color: lightgray;
        font-size: 1.2rem;
    }
    header{
        align-items: center;
    }

/*index page*/
    .col-12 img{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding-bottom: 20px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        width: 75px;
    }

    .col-centered{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TaskBtn{
        background: none;
        background-color: none;
    }

    .TaskModal{
        display: none;
        z-index: 1;
        left: 0;
        top: 0;
        width: 90%;
        height: 100%;
    }

    .TaskForm{
        display: flex;
        align-items:center;
        justify-content:space-evenly;
        margin: 25px;
        width: 95%;
        background-color: #212529;
        padding: 15px;
        
    }

    .task {
        border-radius: 25px;
        margin: 10px;
        padding: 20px;
        background-color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        
    }
    
    

    .task-list{
        display: flex;
        flex-direction: column;
        margin: 25px;
        padding-top: 15px;
        width: 100%;
        height: 100%;
        font-size: 1.25em;
    }

    .taskListP{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: center;
    }

    .taskListButton{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border-radius: 15px;
        column-gap: 15px;
        height: 50px;
    }

    .edit-task, .mark-done, .delete-task{
        background-color: #212529;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        border-radius: 10px;
        color: white;
    }

    .edit-task:hover,
    .mark-done:hover,
    .delete-task:hover{
        background-color: #0056b3 !important;
        color: white !important;
    }


    .completed-tasks-modal{
        display: none;
        grid-template-columns: repeat(3,1fr);
    }
    @media (min-width: 992px){
    .justify-content-lg-start {

        justify-content: center!important;}}

    .completed-tasks-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 25px;
        padding: 15px;
        width: 90%;
        height: 100%;
    }

    .completed-task{
        flex: 0 0 calc(33.33% - 20px); 
        margin: 10px;
        padding: 10px;
        background-color: #fff; 
        border: 1px solid #ddd; 
    }

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    
/*Login-Sign up page*/

.Sign-InContainer .btn,
.RegisterContainer .btn{
width: 75%;
margin-top: 25px;
}
.Sign-inContainer{
    display: none;
    margin: auto;
    
}

.RegisterContainer{
    display: none;
    margin: auto;
}


.SignInModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 25px 25px 25px 25px;
    background-color: #212529;
    width: 60%;
    border-radius: 15px;
}

.RegisterModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 25px 25px 25px 25px;
    background-color: #212529;
    width: 60%;
    border-radius: 15px;
}

h1{
    color:white;
}

p{
    margin-top: 15px;
}

.OverdueModal{
    position:fixed;
    margin: auto;
    background-color: #212529;
}
.overdue{
    color: red;
}
.row{
    margin: auto;
    padding-left: 5px;
}

#AddTaskModal input[type="text"],
#AddTaskModal select,
#AddTaskModal button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#AddTaskModal button {
    background-color: white;
    color: #212529;
    border: none;
    cursor: pointer;
}

#AddTaskModal button:hover {
    background-color: #0056b3;
}
#AddTaskModal input[type="date"] {
    width: calc(100% - 10px); 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}